*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3{
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}
.poster{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 50px;
    color: white;
}

.i{
    font-style: italic;
}

img{
    width: 100%;
}

.icons{
    display: flex;
    width: 130px;
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.buttons{
    margin-top: 20px;
    display: flex;
    width: 35%;
    justify-content: space-between;
}